.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    min-height: 100px;
    padding: 16px;

    background-color: #8DAA9D;
    border-radius: 16px;
}